@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap%27');

.cmp-text{
    color: #4F4F4F;
    width: 360px;
    height: 108px;
}

.cmp-text__item-output{
    color: #4F4F4F;
    font-family: "Space Mono";
    font-weight: 400;
    font-size: 24px;
}