@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap%27');

.cmp-title__item-output {
    font-family: 'Space Mono';
    color: #333333;
    width: 550px;
    font-weight: 700;
    line-height: 95px;
    font-size: 54px;
}